@import "../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"

@keyframes jump
  0%
    transform: translateY(0px)
  100%
    transform: translateY(30px)

@keyframes fade-top
  0%
    border-width: 1px 1px 0px 1px
    border-color: #0087ff
    border-style: solid
    border-radius: 2px
    box-shadow: 0px 0px 4px #0087ff
  100%
    border-width: 1px 1px 0px 1px
    border-top-color: #dee2e6
    border-right-color: transparent
    border-left-color: transparent
    border-style: solid
    border-radius: 2px

@keyframes fade-bottom
  0%
    border-width: 0px 1px 1px 1px
    border-color: #0087ff
    border-style: solid
    border-radius: 2px
    box-shadow: 0px 0px 4px #0087ff
  100%
    border-width: 0px 1px 1px 1px
    border-color: transparent
    border-style: solid
    border-radius: 2px

html
  scroll-behavior: smooth

html, body, #root, .container-fluid
  min-height: 100vh
  
input[type='number']
  -moz-appearance: textfield

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  
#background-top
  background-color: #9e4dcd
  height: 447.5px

#description-card
  width: 544px
  position: absolute
  left: calc(50% - 272px)
  top: 370px

#description-text
  color: #6c6a6a
  font-size: 20px

#category-thumbs
  margin-top: 213px
  margin-bottom: 115px

#search-title
  font-size: 59px
  letter-spacing: 1px
  font-weight: lighter

.category-thumb
  cursor: pointer
  &:hover
    opacity: 0.95

.category-thumb-body
  background-color: #ececec

.remove-anchor-styling
  color: #3c3c3c
  &:hover
    text-decoration: none
    color: #3c3c3c

#searchbar, 
#max-input, 
#min-input
  background-color: #242729
  border-color: #bbc0c4
  color: #bbc0c4
  border-width: 0px 0px 1px 0px
  border-radius: 0

#filter-text
  font-size: 1.1rem

.cursor-pointer-on-hover
  &:hover
    cursor: pointer

.no-select 
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.people-thumb
  width: 80%

.people-title
  font-size: 150%

.people-chevron
  font-size: 160%

.large-z-index
  z-index: 999

.underline
  text-decoration: underline

#tab-container
  border-bottom: 1px solid transparent
  z-index: 3
  transition: border-color 0.4s

#tab-container-active
  border-bottom: 1px solid #dee2e6
  z-index: 3
  transition: border-color 0.4s

#tab
  margin-bottom: -1px

#tab-item-active
  border-color: #bbc0c4 #bbc0c4 #242729
  border-width: 1px
  border-style: solid
  border-top-left-radius: .25rem
  border-top-right-radius: .25rem
  padding: .5rem 1rem

#tab-item
  border: 1px solid #dee2e6
  border-radius: .25rem
  padding: .5rem 1rem
  transition: border-color 1s

#tabContent
  border-width: 0px 1px 1px 1px
  border-style: solid
  border-color: #dee2e6

.character-thumb
  width: 38px

.faux-row-margin
  margin-left: -15px
  margin-right: -15px

.filter-menu-hidden
  opacity: 0
  z-index: -1
  transform: translateY(-10px)
  transition: transform 0.4s, opacity 0.4s

.filter-menu
  opacity: 1
  z-index: 2
  transform: translateY(0px)
  transition: transform 0.4s, opacity 0.4s

.detail-container
  overflow: hidden
  padding-top: 1.5rem
  z-index: 1
  max-height: 3000px
  transition: max-height 2s
  background-color: #f2f2f2

.detail-container-hidden
  z-index: -1
  max-height: 0px
  transition: max-height 0.7s ease-out, padding 0.65s
  overflow: hidden
  background-color: #f2f2f2

.border-bottom-delay
  transition: border-bottom 0s 0.5s

.dim-on-hover
  &:hover
    background-color: #808588
    color: white

.theme-dark-bg
  background-color: #242729

.theme-dark-color
  color: #bbc0c4

div > .btn-outline-theme-dark
  color: #c2cbd3
  border-color: #6c757d
  background-color: transparent

div > .btn-outline-theme-dark:hover
  background-color: #3b4045
  color: white

#head
  flex: 0 1 auto

#body-content
  flex: 1 1 auto

#foot
  flex: 0 1 auto

#master-container
  display: flex
  flex-flow: column

#no-match-icon
  font-size: 13rem
  color: #3e4244

#no-match-text
  font-size: 3rem
  color: #3e4244

.dot
  font-size: 2rem
  color: #535659

#load-text
  font-size: 3rem
  color: #535659

.border-fading-bottom
  animation: 2.5s 1 fade-bottom forwards

.border-fading-top
  animation: 2.5s 1 fade-top forwards

#first-d
  animation: 1.2s infinite alternate jump

#second-d
  animation: 1.2s infinite alternate jump
  animation-delay: .3s

#third-d
  animation: 1.2s infinite alternate jump
  animation-delay: .6s

.head-img
  max-height: 100%
  position: absolute
  bottom: 0
  right: 0