@import "../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
  
#background-top
  background-color: #ac40ca
  height: 447.5px

#description-card
  width: 544px
  position: absolute
  left: calc(50% - 272px)
  top: 370px

#description-text
  color: #6c6a6a
  font-size: 20px

#category-thumbs
  margin-top: 213px
  margin-bottom: 115px

#search-title
  font-size: 59px
  letter-spacing: 1px
  font-weight: lighter

.category-thumb
  cursor: pointer
  &:hover
    opacity: 0.7

.category-thumb-body
  background-color: #ececec

.remove-anchor-styling
  color: #3c3c3c
  &:hover
    text-decoration: none
    color: #3c3c3c

#searchbar-icon
  font-size: 1.4rem

.input-group
  .form-control
    &:focus
      box-shadow: 0 0 0 0
      border-color: #ced4da

#filter-text
  font-size: 1.1rem

.cursor-pointer-on-hover
  &:hover
    cursor: pointer

.no-select 
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.people-thumb
  width: 80%

.people-title
  font-size: 150%

.people-chevron
  font-size: 160%

.large-z-index
  z-index: 999

.underline
  text-decoration: underline

#tab-container
  border-bottom: 1px solid transparent

#tab-container-active
  border-bottom: 1px solid #dee2e6

#tab
  margin-bottom: -1px

#tab-item-active
  border-color: #dee2e6 #dee2e6 #fff
  border-width: 1px
  border-style: solid
  border-top-left-radius: .25rem
  border-top-right-radius: .25rem
  padding: .5rem 1rem

#tab-item
  border: 1px solid #dee2e6
  border-radius: .25rem
  padding: .5rem 1rem

#tabContent
  border-width: 0px 1px 1px 1px
  border-style: solid
  border-color: #dee2e6